<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Accounts</title>
</head>

<body>

    <div th:include="header::header"> HEADER </div>

    <h1>Счета</h1>
    <!--<a href="/"> back </a>-->
    <!--<a href="/accounts/new"> new </a>-->

    <form action="button.html">
        <button formaction="/"> HOME </button>
        <button formaction="/accounts/new"> НОВЫЙ СЧЁТ </button>
    </form>

    <table>
        <thead style="background: #ccc">
        <tr>
            <td> Владелец </td>
            <td> Счёт </td>
            <td> Лицензий </td>
            <td> Токенов </td>
            <td>  </td>
        </tr>
        </thead>
        <tbody >
        <tr th:each="account : ${accounts}">
            <!--<td th:text="${account.id}">1</td>-->
            <td th:text="${account.getUserName()}">User ...</td>
            <td><a th:href="'/account/'+${account.number}+'/licenses/'" th:text="${account.number}">Account ...</a></td>
            <td th:text="${account.getLicenses().size()}">1</td>
            <td th:text="${account.getTokens()}">1</td>
            <td>
                <!--<a th:href="'/account/'+${account.number}+'/delete'" > DELETE </a>-->
                <!--<form action="button.html"><button disabled="true"> DELETE </button></form>-->
                    <td>
                    <!--<a th:href="'/license/'+${license.id}+'/newtoken'"> NEW TOKEN </a>-->
                    <form action="button.html">
                        <button th:formaction="'/account/'+${account.number}+'/delete'"> DELETE ACCOUNT </button>
                    </form>
                </td>

            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>