<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css"/>
    <title>JWT license generator</title>

    <link rel="stylesheet" th:href="${TRUSTED}+'/static/css/tlogin-3.0.1.css'" />
    <link rel="stylesheet" th:href="${TRUSTED}+'/static/font/material-icons.css'" />
    <link rel="stylesheet" th:href="${TRUSTED}+'/static/css/components.css'" />
    <script src='https://id.trusted.plus/static/js/tlogin-3.0.1.js'> </script>

</head>

    <body>

        <h1>HOME</h1>

        <a href="accounts">ACCOUNT</a>

        <!--<div id="container"></div>-->
        <!--<script src="bundle.js"></script>-->

        <div class="trusted-btn" onClick="TrustedID.login('license_app', 'https://licensesvc.trusted.ru/license/authorize')">
            Вход Trusted.Login
        </div>

        <script>
            window.onfocus = function() {
                location.replace("/cabinet");
            };
        </script>

    </body>

</html>


