<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${account}">Licenses</title>
</head>
<body>

    <div th:include="header::header"> HEADER </div>

    <h1> счёт <span class="haccount" th:text="${account}" ></span> </h1>
    <h2>Выданые лицензии </h2>

    <!--<a href="/accounts"> back </a>-->
    <!--<a href="new"> new </a>-->

    <form action="button.html">
        <button formaction="/accounts"> СЧЕТА </button>
        <button th:formaction="'/account/newlicense/'+${account}"> ВЫДАТЬ ЛИЦЕНЗИЮ </button>
    </form>

    <!--<table border="1">-->
    <table class="table-style-two">
        <thead style="background: #ccc">
        <tr>
            <td> Срок.действия.лицензии </td>
            <td> Доступно </td>
            <td> Выдано </td>
        </tr>
        </thead>
        <tbody >
        <tr th:each="license : ${licenses}">
            <!--<td th:text="${license.id}">1</td>-->

            <td><a th:href="'/license/'+${license.id}+'/tokens'" th:text="${license.getExpire()}"> TOKENS </a></td>
            <!--<td><a th:href="'/account/'+${account}+'/licenses/'" th:text="${license.date}">Account ...</a></td>-->
            <!--<td th:text="${license.date}" >User ...</td>-->
            <td th:text="${license.amountTokens-license.getTokens().size()}"> ...</td>
            <td th:text="${license.getTokens().size()}">1</td>

            <td>
                <!--<a th:href="'/license/'+${license.id}+'/newtoken'"> NEW TOKEN </a>-->
                <form action="button.html">
                    <button th:formaction="'/license/'+${license.id}+'/newtoken'"> NEW TOKEN </button>
                </form>
            </td>
            <!--<td th:text="${license.tokenCount}"> ...</td>-->
            <!--<td><a href="#" th:text="${license.}">Account ...</a></td>-->
            <td>
                <!--<a th:href="'/account/'+${account}+'/license/'+${license.id}+'/delete'" > DELETE </a>-->
                <form action="button.html">
                    <!--<button th:formaction="'/account/'+${account}+'/license/'+${license.id}+'/delete'"> LICENSE DELETE </button>-->
                    <button th:formaction="'/license/'+${license.id}+'/delete'"> LICENSE DELETE </button>
                </form>
                <!--formaction="handler.php"-->
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>