<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${license.account.number}">Tokens</title>
</head>
<body>

    <div th:include="header::header"> HEADER </div>

    <h1> Токены, выпущеные по лицензии </h1>
    <!--<h2 th:text="${license.account.number}">Tokens</h2>-->
    <h2 th:text="${license.date}">Tokens</h2>
    <h2 th:text="' до '+${license.getExpire()}">Tokens</h2>

    <form action="button.html">
        <button th:formaction="'/account/'+${license.account.number}+'/licenses/'"> ЛИЦЕНЗИИ </button>
        <button th:formaction="'/license/'+${license.id}+'/newtoken'"> ГЕНЕРАЦИЯ ТОКЕНА </button>
    </form>

    <!--<table border="1">-->
    <table class="table-style-one">
        <thead style="background: #ccc">
        <tr>
            <td>  </td>
            <td> ПОЛЬЗОВАТЕЛЬ </td>
            <td>  </td>
            <td> ТОКЕН JWT </td>
        </tr>
        </thead>
        <tbody >
        <tr th:each="token : ${tokens}">
            <td th:text="${token.id}">1</td>

            <!--<td><a th:href="'/account/'+${account}+'/licenses/'" th:text="${license.date}">Account ...</a></td>-->
            <!--<td th:text="${license.date}" >User ...</td>-->

            <td th:text="${token.userName}"> ...</td>
            <!--<td th:text="${license.tokenCount}"> ...</td>-->
            <!--<td><a href="#" th:text="${license.}">Account ...</a></td>-->
            <!--<td><a th:href="'/account/'+${account}+'/license/'+${license.id}+'/delete'"> DELETE </a></td>-->
            <!--<td><a th:href="'/license/'+${license.id}+'/token/'+${token.getId()}+'/delete'"> DELETE </a></td>-->
            <td>
            <form action="button.html">
                <button th:formaction="'/license/'+${license.id}+'/token/'+${token.getId()}+'/delete'"> DELETE </button>
            </form>
            </td>
            <td th:text="${token.JWT}"> ...</td>
        </tr>
        </tbody>
    </table>

</body>
</html>